<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>seq_01_leaves_32.jpg</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>2</integer>
					<key>y</key>
					<integer>2</integer>
					<key>w</key>
					<integer>416</integer>
					<key>h</key>
					<integer>406</integer>
				</dict>
				<key>rotated</key>
				<false/>
				<key>trimmed</key>
				<false/>
				<key>spriteSourceSize</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>w</key>
					<integer>416</integer>
					<key>h</key>
					<integer>406</integer>
				</dict>
				<key>sourceSize</key>
				<dict>
					<key>w</key>
					<integer>416</integer>
					<key>h</key>
					<integer>406</integer>
				</dict>
			</dict>
			<key>seq_01_leaves_33.jpg</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>2</integer>
					<key>y</key>
					<integer>412</integer>
					<key>w</key>
					<integer>416</integer>
					<key>h</key>
					<integer>406</integer>
				</dict>
				<key>rotated</key>
				<false/>
				<key>trimmed</key>
				<false/>
				<key>spriteSourceSize</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>w</key>
					<integer>416</integer>
					<key>h</key>
					<integer>406</integer>
				</dict>
				<key>sourceSize</key>
				<dict>
					<key>w</key>
					<integer>416</integer>
					<key>h</key>
					<integer>406</integer>
				</dict>
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>app</key>
			<string>http://www.codeandweb.com/texturepacker</string>
			<key>version</key>
			<real>1.0</real>
			<key>image</key>
			<string>atlas2-xhdpi.jpg</string>
			<key>format</key>
			<string>RGB888</string>
			<key>size</key>
			<dict>
				<key>w</key>
				<integer>512</integer>
				<key>h</key>
				<integer>1024</integer>
			</dict>
			<key>scale</key>
			<integer>1</integer>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:64d76067176f564aac11a3cbe42d8304:f551528f683823ed72d4a76b9b75c63d:9dfff8f4b7588b43b32d011416cccbcf$</string>
		</dict>
	</dict>
</plist>
