<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>png/monster/icon/armoredskeleton.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1220},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/beetle.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1328},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/bullfighter.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1436},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/goblin.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1544},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/hellhound.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1652},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/hellspider.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1760},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/hommerd.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1868},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/hound.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1220},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/skeleton.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,1068},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/skeletonarcher.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1328},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/spider.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1436},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/worm.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1544},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/yeti.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1652},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/char/icon/DarkAssassin.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/DarkKnight.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,4},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/DarkReaper.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,4},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/DarkWizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,4},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/GreatDragonKnight.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,4},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/MagicGladiator.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,4},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/RageFighter.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,4},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/WindMuseElf.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,156},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/JudgementPaladin.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,156},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/DivineFairyElf.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,156},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/DragonKnight.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,156},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/LegendaryWizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,156},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/GreatLegendaryWizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,156},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/RobustLancer.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,156},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/TempleGuardianElf.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,308},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/RoyalMaster.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,308},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/monster/icon/assassin.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1760},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/char/icon/assassin.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1760},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/budgedragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1868},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/elitebull.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1176},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/elitegoblin.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1068},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/eliteyeti.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1176},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/icemonster.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1068},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/icequeen.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1176},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/reddragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1068},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/spiritknight.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1176},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/golemking.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1068},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/char/icon/DarkMoonElf.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,308},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/LapidLancer.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,308},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/Unknow.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,308},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/monster/icon/unknow.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1176},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/bahamut.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,1068},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/balrog.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1068},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/cursedknight.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1068},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/cursedwizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1176},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/deathbull.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1176},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/deathknight.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1284},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/devil.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1392},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/ghost.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/goldendragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1608},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/gorgon.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1716},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/hydra.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1824},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/kundun.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1932},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/lich.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1284},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/lizardking.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1284},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/poisonbull.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1284},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/poisonshadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1284},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/seaworm.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1284},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1284},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/skeletonking.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1392},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/thunderlich.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/valkyrie.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1608},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/vapare.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1716},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/whitewizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1824},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/char/icon/DarkSoulWizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,308},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/IceStormWizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,308},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/TwistDragonKnight.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,460},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/ScaleAxeKnight.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,460},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/BlueMagicGladiator.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,460},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/BlackRoseSummoner.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,460},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/PhantomMagicGladiator.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,460},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/PrincieRoyalLancer.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,460},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/SacredFireFighter.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,460},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/RedSpiritBattleElf.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,612},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/DarkMaster.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,612},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/StormcrowGladiator.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,612},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/GRedDragonKnight.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,612},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/monster/icon/deathcow.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1932},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/char/icon/LightGuardianLancer.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,612},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/monster/icon/beamknight.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1392},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/bloodywolf.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1392},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/deathbeamknight.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1392},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/ironwheel.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1392},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/mutant.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1392},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/tantalos.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/zaikan.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1608},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/char/icon/FuryDragonKnight.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,612},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/HalloweenJack.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,612},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/HalloweenWizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,764},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/FrostRoyalKnight.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,764},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/SnowSummonerPrincess.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,764},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/monster/icon/auragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1716},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/drakion1.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1824},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/gigaknight.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1932},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/greatdrakion.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/megaknight.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/megaknight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/phantomknight.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/phoenix.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1608},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/monster/icon/rainerspirit.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1716},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/char/icon/ArthurKingAtlantis.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,764},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/monster/icon/drakion.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1824},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/char/icon/GarenWhiteDragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,764},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/LegolasJungleHero.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,764},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/LunarEmpressSummoner.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,764},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/RachelLightGoddest.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,916},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/LavaWarlord.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,916},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/LunarPrincess.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,916},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/AshaHolyAngleElf.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,916},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/GreatBlueGladiator.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,916},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/GreatDarkReaper.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,916},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/GreatWindElf.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,916},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>png/char/icon/GreatRageFighter.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1068},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>avatar1.png</string>
			<key>realTextureFileName</key>
			<string>avatar1.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>