<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon/avatar/avatar01.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar02.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,137},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar03.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,270},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar04.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,403},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar05.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,536},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar06.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,669},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar07.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,802},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar08.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,4},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar09.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,4},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar10.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,4},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar11.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,4},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar12.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,4},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar13.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,4},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar14.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,137},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar15.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,270},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar16.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,403},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar17.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,536},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar18.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,669},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar19.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,802},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar20.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,137},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar21.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,137},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar22.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,137},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar23.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,137},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar24.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,137},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar25.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,270},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>icon/avatar/avatar26.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,403},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>avatar_user.png</string>
			<key>realTextureFileName</key>
			<string>avatar_user.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>