<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bar/Icon_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,630},{229,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,61}</string>
			</dict>
			<key>bar/Items_Slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,428},{132,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,61}</string>
			</dict>
			<key>bar/Large_Circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,278},{137,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,136}</string>
			</dict>
			<key>bar/Small_Circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,278},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>bar/Square.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,422},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>
			<key>bar/Tutorial_Bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,128},{715,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{715,62}</string>
			</dict>
			<key>bar/Skill_Avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,4},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>bar/Main_Menu_Items_Slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,858},{236,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,44}</string>
			</dict>
			<key>bar/Items_Menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{761,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{761,116}</string>
			</dict>
			<key>bar/Combo_Frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,4},{166,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,163}</string>
			</dict>
			<key>bar/Monster_HP.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,733},{466,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,39}</string>
			</dict>
			<key>bar/Monster_HP_Frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,744},{466,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,39}</string>
			</dict>
			<key>bar/Small_Frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,497},{117,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,19}</string>
			</dict>
			<key>bar/Small_HP.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,524},{117,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,19}</string>
			</dict>
			<key>bar/Small_MP.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,551},{117,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,19}</string>
			</dict>
			<key>bar/Music_Sound_Gauge_Bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,699},{378,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,37}</string>
			</dict>
			<key>bar/Music_Sound_Gauge_Bar_Inside.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,791},{378,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,37}</string>
			</dict>
			<key>bar/Local_Map_Tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,175},{256,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,95}</string>
			</dict>
			<key>bar/Small_EXP_gauge.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,557},{117,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,19}</string>
			</dict>
			<key>bar/trans_bar_insde.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,497},{689,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{689,37}</string>
			</dict>
			<key>bar/trans_bar_outside.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,304},{689,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{689,37}</string>
			</dict>
			<key>bar/Monster_HP_Frame_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,578},{110,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,16}</string>
			</dict>
			<key>bar/Monster_HP_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,584},{110,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,16}</string>
			</dict>
			<key>bar/pnl_exp_ gauge_outside.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,349},{644,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{644,39}</string>
			</dict>
			<key>bar/pnl_exp_gauge.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,396},{644,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{644,39}</string>
			</dict>
			<key>bar/Monster_MN_Frame_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,608},{99,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,14}</string>
			</dict>
			<key>bar/Monster_MN_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,626},{99,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,14}</string>
			</dict>
			<key>bar/Monster_HP_small_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,602},{110,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,16}</string>
			</dict>
			<key>bar/Monster_HP_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,780},{466,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,39}</string>
			</dict>
			<key>bar/pnl_account_gauge_inside.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,827},{405,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,23}</string>
			</dict>
			<key>bar/pnl_account_gauge_outside.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,836},{405,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,23}</string>
			</dict>
			<key>bar/exp_gauge outside.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,443},{638,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,37}</string>
			</dict>
			<key>bar/exp_gauge_inside.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,610},{638,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,37}</string>
			</dict>
			<key>bar/Main_Menu_exp_outside.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,910},{238,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,23}</string>
			</dict>
			<key>bar/Main_Menu_exp_inside.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,867},{238,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,23}</string>
			</dict>
			<key>bar/bar_percent.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,655},{601,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,31}</string>
			</dict>
			<key>bar/bar_percent_outside.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,694},{601,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,31}</string>
			</dict>
			<key>bar/HP_lop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,198},{713,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{713,45}</string>
			</dict>
			<key>bar/HP_lop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,251},{713,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{713,45}</string>
			</dict>
			<key>bar/HP_lop3.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,557},{713,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{713,45}</string>
			</dict>
			<key>bar/separator.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,85},{19,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,54}</string>
			</dict>
			<key>bar/bar_percent_brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,867},{255,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,15}</string>
			</dict>
			<key>bar/bar_percent_outside_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,867},{255,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,17}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bar.png</string>
			<key>realTextureFileName</key>
			<string>bar.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>