<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>button/quit_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,204},{72,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,76}</string>
			</dict>
			<key>button/Left_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,186},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,44}</string>
			</dict>
			<key>button/Back_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,126},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>button/Cleared_Map_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,298},{97,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,100}</string>
			</dict>
			<key>button/Disabled_Map_Advacing_Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,306},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>button/Friend_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,85},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>button/Map_Advacing_Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,257},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>button/Plus_Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,226},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>button/Auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,998},{143,50}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>button/Setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,839},{145,51}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>button/Item_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,192},{105,104}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,105}</string>
			</dict>
			<key>button/Manual.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,653},{148,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>button/Gauge_Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,101},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>button/Green_Round.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,402},{217,78}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,78}</string>
			</dict>
			<key>button/Orange_Round.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,560},{219,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,78}</string>
			</dict>
			<key>button/Info_Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,219},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>button/Yellow_Arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,532},{22,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,17}</string>
			</dict>
			<key>icon/Page_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,328},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>icon/Selected_Page_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,232},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>button/disable_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1050},{134,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,53}</string>
			</dict>
			<key>button/select_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1079},{134,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,45}</string>
			</dict>
			<key>button/cross_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,479},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>button/Cross_Unavailable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,452},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,118}</string>
			</dict>
			<key>button/Blue_Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,640},{219,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,78}</string>
			</dict>
			<key>button/Red_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,519},{47,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,39}</string>
			</dict>
			<key>button/Back_Arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,271},{53,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,47}</string>
			</dict>
			<key>button/redeem.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,793},{193,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,70}</string>
			</dict>
			<key>button/btn_tab_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,306},{207,94}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,96}</string>
			</dict>
			<key>button/btn_tab_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,219},{205,93}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,96}</string>
			</dict>
			<key>button/btn_arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{342,123}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,127}</string>
			</dict>
			<key>button/btn_battle_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,513},{235,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,78}</string>
			</dict>
			<key>button/btn_battle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1080},{231,73}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,78}</string>
			</dict>
			<key>button/btn_defense_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,857},{235,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,78}</string>
			</dict>
			<key>button/btn_defense_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1096},{231,73}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,78}</string>
			</dict>
			<key>button/btn_leader.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,419},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>button/btn_brown_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,435},{237,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,78}</string>
			</dict>
			<key>button/btn_brown_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,935},{233,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,75}</string>
			</dict>
			<key>button/btn_square_cross.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,335},{62,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>
			<key>button/btn_square_minus.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,398},{62,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>
			<key>button/tab_item_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,771},{167,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,67}</string>
			</dict>
			<key>button/tab_item_picked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,777},{167,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,67}</string>
			</dict>
			<key>button/btn_gotomap.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,126},{263,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,91}</string>
			</dict>
			<key>button/btn_gotoshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,356},{243,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,91}</string>
			</dict>
			<key>button/btn_howtoget.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,278},{262,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,91}</string>
			</dict>
			<key>button/btn_Mine.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,186},{258,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,92}</string>
			</dict>
			<key>button/btn_cross.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,532},{43,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>
			<key>button/btn_FriendChange.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,1155},{110,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,48}</string>
			</dict>
			<key>button/btn_FriendChange_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1169},{114,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,48}</string>
			</dict>
			<key>button/btn_sendFP.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,395},{86,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,53}</string>
			</dict>
			<key>button/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,913},{249,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,70}</string>
			</dict>
			<key>button/btn_Facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,591},{290,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,83}</string>
			</dict>
			<key>button/btn_Onetime.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1010},{249,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>button/btn_arenashop.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,595},{153,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,58}</string>
			</dict>
			<key>button/btn_Loot.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1025},{138,52}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,56}</string>
			</dict>
			<key>button/btn_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,530},{43,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>
			<key>button/tab_add_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,833},{108,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>button/tab_add_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,448},{104,66}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>button/tab_friend_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,569},{110,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>button/tab_friend_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,905},{105,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>button/tab_request_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,819},{108,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>button/tab_request_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1105},{104,66}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>icon/ico_unfriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,184},{36,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>button/btn_Items.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,892},{145,51}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>button/btn_gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,834},{284,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,83}</string>
			</dict>
			<key>button/btn_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,983},{249,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>button/btn_linkaccount.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,1053},{249,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>
			<key>button/btn_x2_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,938},{145,51}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>button/btn_x2_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,765},{148,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>button/btn_Guest.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,672},{286,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,83}</string>
			</dict>
			<key>button/btn_edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,143},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>button/btn_logout.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,1155},{124,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,46}</string>
			</dict>
			<key>button/btn_ExHero.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1},{340,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,98}</string>
			</dict>
			<key>button/btn_ExItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1},{329,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,98}</string>
			</dict>
			<key>button/btn_quest.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,1123},{226,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,72}</string>
			</dict>
			<key>button/btn_gamecenter.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,753},{286,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,83}</string>
			</dict>
			<key>button/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,320},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>button/btn_blue_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,482},{216,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,78}</string>
			</dict>
			<key>button/btn_deleteall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,710},{186,65}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,65}</string>
			</dict>
			<key>button/btn_green_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,991},{144,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,51}</string>
			</dict>
			<key>button/btn_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{190,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,65}</string>
			</dict>
			<key>button/btn_readmail.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,534},{121,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,79}</string>
			</dict>
			<key>button/btn_readmail_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,614},{117,74}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,79}</string>
			</dict>
			<key>button/btn_red_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,945},{144,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,51}</string>
			</dict>
			<key>button/btn_request.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,516},{120,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,79}</string>
			</dict>
			<key>button/btn_request_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,690},{116,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,79}</string>
			</dict>
			<key>button/btn_tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,277},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>button/Down.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,560},{46,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,34}</string>
			</dict>
			<key>button/btn_skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,707},{175,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,62}</string>
			</dict>
			<key>button/btnSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,350},{70,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,73}</string>
			</dict>
			<key>button/roundSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,452},{79,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>spin/btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,196},{228,108}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,111}</string>
			</dict>
			<key>spin/btn_stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,85},{229,109}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,111}</string>
			</dict>
			<key>button/btn_tab_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,314},{198,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,67}</string>
			</dict>
			<key>button/btn_tab_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{198,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,67}</string>
			</dict>
			<key>button/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1123},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>button/btn_leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,891},{165,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,46}</string>
			</dict>
			<key>button/btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,282},{72,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,74}</string>
			</dict>
			<key>button/Question_Unavailable.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,400},{132,132}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>button/btn_mobile.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,101},{298,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,83}</string>
			</dict>
			<key>button/btn_x1_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,973},{146,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>button/btn_x3_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1044},{146,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>button/reward_Button.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{199,461},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>button/btn_BuyBless.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,720},{211,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>button.png</string>
			<key>realTextureFileName</key>
			<string>button.png</string>
			<key>size</key>
			<string>{1024,1215}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1215</integer>
		</dict>
	</dict>
</plist>