<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chat/chatBalloonGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,131},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>chat/chatBalloonGreen_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,189},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>chat/chatBalloonGreen_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,134},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>chat/chatBalloonGreen_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,193},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>chat/flag-icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,251},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>chat/ico_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,72},{65,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,60}</string>
			</dict>
			<key>chat/ico_largearrow_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>
			<key>chat/ico_world.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,131},{67,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,56}</string>
			</dict>
			<key>chat/pnl_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1},{290,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,245}</string>
			</dict>
			<key>chat/pnl_text_here.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,312},{523,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{523,58}</string>
			</dict>
			<key>chat/tab_item_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,240},{169,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,84}</string>
			</dict>
			<key>chat/tab_item_picked.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,131},{169,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,84}</string>
			</dict>
			<key>chat/chatBalloonWhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,196},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>chat/chatBalloonWhite_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,196},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>chat/chatBalloonWhite_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,217},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>chat/chatBalloonWhite_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,217},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>chat/Grid_Panel_chat_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{309,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,237}</string>
			</dict>
			<key>chat/icon_translate.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,134},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>chat/round_noti_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,240},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>chat/Rounded-Rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1},{323,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,128}</string>
			</dict>
			<key>chat/balloon_chat_84x84.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,240},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chat.png</string>
			<key>realTextureFileName</key>
			<string>chat.png</string>
			<key>size</key>
			<string>{1022,371}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>371</integer>
		</dict>
	</dict>
</plist>