<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>event_page/btn_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1090},{145,51}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>event_page/btn_page_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,1079},{154,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>
			<key>event_page/btn_page_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1081},{156,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,56}</string>
			</dict>
			<key>event_page/ico_reward_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,980},{124,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,97}</string>
			</dict>
			<key>event_page/ico_reward_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,744},{143,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,112}</string>
			</dict>
			<key>event_page/ico_reward_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,866},{180,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,118}</string>
			</dict>
			<key>event_page/ico_reward_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,773},{124,108}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,110}</string>
			</dict>
			<key>event_page/page_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,751},{245,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,113}</string>
			</dict>
			<key>event_page/pnl_chara.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1},{234,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,331}</string>
			</dict>
			<key>event_page/pnl_event2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,798},{199,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,104}</string>
			</dict>
			<key>event_page/pnl_event2_B.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,883},{186,95}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,97}</string>
			</dict>
			<key>event_page/pnl_event2_Y.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,896},{184,94}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,97}</string>
			</dict>
			<key>event_page/seperation_pattern.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,1184},{237,16}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,18}</string>
			</dict>
			<key>event_page/txt_5stars.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,825},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,43}</string>
			</dict>
			<key>event_page/bannertxt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1489},{757,123}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{771,135}</string>
			</dict>
			<key>event_page/bannertxt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1614},{757,123}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{771,135}</string>
			</dict>
			<key>event_page/btn_cross.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,897},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>event_page/btn_gotoquest.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1139},{292,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,80}</string>
			</dict>
			<key>event_page/ico_event1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,986},{79,81}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>event_page/ico_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,334},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>event_page/pnl_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,1135},{158,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,45}</string>
			</dict>
			<key>event_page/bannertxt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1364},{762,123}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{771,135}</string>
			</dict>
			<key>event_page/bannertxt_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1739},{750,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{752,121}</string>
			</dict>
			<key>event_page/btn_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1219},{263,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,80}</string>
			</dict>
			<key>event_page/colour_orangetext.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,479},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>event_page/demo.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1071},{294,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,104}</string>
			</dict>
			<key>event_page/ico_celendar.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,702},{65,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>event_page/ico_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,858},{41,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,37}</string>
			</dict>
			<key>event_page/ico_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,298},{91,100}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,113}</string>
			</dict>
			<key>event_page/ico_receipt.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,869},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>
			<key>event_page/line_doc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{5,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,80}</string>
			</dict>
			<key>event_page/pnl_bot_event5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,106},{112,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,97}</string>
			</dict>
			<key>event_page/pnl_bot_event5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,208},{411,269}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,270}</string>
			</dict>
			<key>event_page/pnl_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,334},{210,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,204}</string>
			</dict>
			<key>event_page/pnl_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,767},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>event_page/pnl_event3.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,702},{161,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,194}</string>
			</dict>
			<key>event_page/pnl_event4.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1177},{320,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,185}</string>
			</dict>
			<key>event_page/pnl_event6_B.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,208},{249,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,278}</string>
			</dict>
			<key>event_page/pnl_event6_Y.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479},{249,270}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,278}</string>
			</dict>
			<key>event_page/pnl_items.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1083},{89,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>event_page/pnl_items_B.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,917},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>event_page/pnl_puzz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,539},{215,161}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,165}</string>
			</dict>
			<key>event_page/pnl_puzz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,635},{214,161}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,165}</string>
			</dict>
			<key>event_page/pnl_trans.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,400},{146,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,190}</string>
			</dict>
			<key>event_page/pnl_trans_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1971},{623,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{639,70}</string>
			</dict>
			<key>event_page/pnl_trans_brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1860},{471,109}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,109}</string>
			</dict>
			<key>event_page/txt_4stars.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1180},{133,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,35}</string>
			</dict>
			<key>event_page/txt_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1143},{134,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,39}</string>
			</dict>
			<key>event_page/Unavailable.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,639},{132,132}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>event_page/txt_Pack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1217},{336,39}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,42}</string>
			</dict>
			<key>event_page/txt_Pack2.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1860},{433,39}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,42}</string>
			</dict>
			<key>event_page/ico_bless.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,986},{94,95}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>event_page/ico_books.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,985},{142,94}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,107}</string>
			</dict>
			<key>event_page/ico_chaos.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,858},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>event_page/ico_chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,481},{234,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,152}</string>
			</dict>
			<key>event_page/ico_element.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,201},{104,95}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>event_page/ico_medihp.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1},{104,103}}</string>
				<key>offset</key>
				<string>{11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>event_page/ico_raidticket.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1005},{90,91}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>event_page/ico_soul.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,902},{125,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>event_page/ico_zen.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1010},{112,78}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>event_page/btn_gotoshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,992},{243,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,91}</string>
			</dict>
			<key>event_page/event_3_banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{670,205}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{677,205}</string>
			</dict>
			<key>event_page/pnl_pickeditems.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,584},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>event_pack.png</string>
			<key>realTextureFileName</key>
			<string>event_pack.png</string>
			<key>size</key>
			<string>{1024,2021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2021</integer>
		</dict>
	</dict>
</plist>