<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon/Music.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1372},{56,57}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>
			<key>icon/arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,757},{145,145}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,147}</string>
			</dict>
			<key>icon/arena_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,940},{63,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,55}</string>
			</dict>
			<key>icon/bless.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,582},{49,53}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,64}</string>
			</dict>
			<key>icon/Chaos_Castle.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,437},{122,175}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,178}</string>
			</dict>
			<key>icon/Chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1541},{88,69}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,71}</string>
			</dict>
			<key>icon/Coloured_Bless.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,174},{109,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,139}</string>
			</dict>
			<key>icon/energry.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,959},{30,37}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,46}</string>
			</dict>
			<key>icon/Hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1207},{127,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,132}</string>
			</dict>
			<key>icon/Home.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,992},{119,120}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,124}</string>
			</dict>
			<key>icon/Menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1516},{82,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,70}</string>
			</dict>
			<key>icon/Shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1103},{106,97}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,111}</string>
			</dict>
			<key>icon/Summon_wheel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,906},{141,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,141}</string>
			</dict>
			<key>icon/Items.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1431},{109,105}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>icon/Round_Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1284},{72,72}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>icon/Star.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1186},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>icon/Disable_Star.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1269},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>icon/Monster_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1431},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>icon/Time_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,893},{42,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,57}</string>
			</dict>
			<key>icon/Sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1248},{60,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>
			<key>icon/Lv_up_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1077},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>icon/Check.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1573},{68,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,65}</string>
			</dict>
			<key>icon/Noticification.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,844},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>icon/Crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1697},{64,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,45}</string>
			</dict>
			<key>icon/ico_rank_bronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,999},{71,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,80}</string>
			</dict>
			<key>icon/ico_rank_crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1680},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,40}</string>
			</dict>
			<key>icon/ico_rank_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1152},{64,64}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>icon/ico_rank_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1447},{98,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>icon/ico_rank_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1304},{98,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,84}</string>
			</dict>
			<key>icon/Music_Mute.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1614},{56,57}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>
			<key>icon/Sound_Mute.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1308},{60,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>
			<key>icon/Chaos_Goblin.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1346},{78,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,75}</string>
			</dict>
			<key>icon/Setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1360},{70,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,73}</string>
			</dict>
			<key>icon/ico_dice.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1210},{49,48}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>icon/ico_exp.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1734},{59,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,25}</string>
			</dict>
			<key>icon/ico_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1712},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,54}</string>
			</dict>
			<key>icon/ico_battle.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1000},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,34}</string>
			</dict>
			<key>icon/ico_blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,2},{100,168}}</string>
				<key>offset</key>
				<string>{2,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_book.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,908},{144,120}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,175}</string>
			</dict>
			<key>icon/ico_chaos.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,616},{121,170}}</string>
				<key>offset</key>
				<string>{2,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_dailyevent.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,645},{172,153}}</string>
				<key>offset</key>
				<string>{-2,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_giftstone.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,568},{129,156}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,175}</string>
			</dict>
			<key>icon/ico_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,790},{145,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,167}</string>
			</dict>
			<key>icon/ico_kalima.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,373},{185,168}}</string>
				<key>offset</key>
				<string>{4,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,460},{156,181}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,184}</string>
			</dict>
			<key>icon/hero/ico_archer.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,266},{18,19}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1305},{32,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_earth.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1103},{32,32}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_support.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,242},{20,20}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_fighter.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,295},{16,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1113},{33,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_gladiator.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,374},{17,16}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1139},{32,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_lord.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,335},{21,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_magic.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,289},{17,19}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_assassin.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,354},{19,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_tank.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,312},{17,19}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,316},{16,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_water.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1149},{32,33}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/Water_Element.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,762},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>icon/Fire_Element.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,893},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>icon/Earth_Element.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,957},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>icon/ico_sendFP.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,883},{35,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,32}</string>
			</dict>
			<key>icon/ico_ad.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1588},{85,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,65}</string>
			</dict>
			<key>icon/ico_hard.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1368},{66,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_hell.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1220},{64,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_easy.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1434},{66,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1248},{95,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,109}</string>
			</dict>
			<key>icon/ico_easy_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1500},{66,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_hard_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,1551},{65,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_hell_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1643},{66,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/giftbox_red_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,728},{128,126}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/giftbox_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,858},{122,130}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/letter_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,1351},{112,92}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/ico_arenacoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1463},{25,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>icon/ico_shield.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,762},{22,26}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>icon/ico_defenseteam.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1262},{49,46}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>icon/ico_winstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1646},{32,27}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>icon/ico_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1767},{65,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,48}</string>
			</dict>
			<key>icon/rank/ico_hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1630},{86,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_king.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1039},{129,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_legend.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,948},{138,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_master.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,1325},{126,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_novice.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1365},{85,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_titan.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,1082},{138,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/ico_bigattack.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1722},{49,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,38}</string>
			</dict>
			<key>icon/ico_defense.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,919},{31,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>icon/Blood_Castle.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,242},{89,148}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,149}</string>
			</dict>
			<key>icon/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1688},{47,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,45}</string>
			</dict>
			<key>icon/Cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1730},{198,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,136}</string>
			</dict>
			<key>icon/heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1436},{46,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>icon/ico_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1175},{32,31}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>icon/ico_boss_lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,878},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,82}</string>
			</dict>
			<key>icon/ico_boss_lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,806},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,82}</string>
			</dict>
			<key>icon/ico_boss_lv3.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,1617},{64,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,82}</string>
			</dict>
			<key>icon/ico_boss_lv4.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1502},{68,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,82}</string>
			</dict>
			<key>icon/ico_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1646},{61,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,49}</string>
			</dict>
			<key>icon/ico_cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1614},{33,28}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>icon/ico_cup_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1734},{46,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,38}</string>
			</dict>
			<key>icon/ico_howto_craft.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1361},{90,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,106}</string>
			</dict>
			<key>icon/ico_howto_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1429},{111,110}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,115}</string>
			</dict>
			<key>icon/ico_howto_map.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1204},{104,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,96}</string>
			</dict>
			<key>icon/ico_howto_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,1390},{85,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,95}</string>
			</dict>
			<key>icon/Letter.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1551},{120,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/Map.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1032},{153,120}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,139}</string>
			</dict>
			<key>icon/Summon.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1148},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>icon/Upgrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,317},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>icon/Light_Element.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,802},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>icon/ico_readmail.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1642},{71,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,60}</string>
			</dict>
			<key>icon/ico_myleauge.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,751},{54,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,55}</string>
			</dict>
			<key>icon/ico_event1.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1504},{79,81}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>icon/ico_premium.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1634},{123,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,39}</string>
			</dict>
			<key>icon/ico_standard.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1675},{135,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,52}</string>
			</dict>
			<key>icon/ico_accessory.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,639},{49,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_armor.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1675},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1628},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_other.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,695},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_fairy.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,252},{198,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,170}</string>
			</dict>
			<key>icon/ico_rabbit.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1160},{77,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,102}</string>
			</dict>
			<key>icon/ico_items.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,522},{49,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1002},{41,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,37}</string>
			</dict>
			<key>icon/pnl_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1312},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>icon/ico_goldendragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,295},{195,161}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_moonrabbit.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,2},{175,203}}</string>
				<key>offset</key>
				<string>{9,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_whitewizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,121},{201,170}}</string>
				<key>offset</key>
				<string>{-6,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/lucky_wheel.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1425},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>icon/ico_letter.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,1608},{71,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,49}</string>
			</dict>
			<key>icon/btn_sendFP_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,802},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>icon/ico_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1390},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>icon/logo creants_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,2},{320,115}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,121}</string>
			</dict>
			<key>icon/ico_dmg.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1222},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>icon/icon_halloween.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1462},{84,75}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,76}</string>
			</dict>
			<key>icon/ico_bosskill.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,1566},{67,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,60}</string>
			</dict>
			<key>icon/ico_createguild.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1661},{57,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,53}</string>
			</dict>
			<key>icon/ico_search.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,954},{42,44}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>
			<key>icon/tab_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,1780},{110,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>icon/tab_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,1640},{108,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>icon/guild_leader.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1677},{36,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>icon/guild_member.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1038},{27,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>icon/ico_member.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1481},{48,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>icon/ico_world.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1657},{60,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,51}</string>
			</dict>
			<key>icon/ico_donate.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,1433},{73,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,65}</string>
			</dict>
			<key>icon/guild_truonglao.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1431},{30,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>icon/guild_viceleader.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1703},{34,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>icon/ico_worldchat.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,1706},{98,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,74}</string>
			</dict>
			<key>icon/ico_puzzle.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1709},{56,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/Battle_elementchart.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1156},{150,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,99}</string>
			</dict>
			<key>icon/giftbox_red_open_old.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1190},{129,122}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/ico_xmas.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1488},{90,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,82}</string>
			</dict>
			<key>icon/ico_guildshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1589},{67,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,53}</string>
			</dict>
			<key>icon/ico_checkin.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1098},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>icon/ico_boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,460},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>icon/ico_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1043},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>
			<key>icon/chest_dong_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,1471},{95,76}}</string>
				<key>offset</key>
				<string>{-9,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,123}</string>
			</dict>
			<key>icon/chest_mo_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,1234},{113,113}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,123}</string>
			</dict>
			<key>icon/chestgai_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1266},{104,95}}</string>
				<key>offset</key>
				<string>{-7,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,123}</string>
			</dict>
			<key>icon/chestgai_mo.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1116},{119,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,123}</string>
			</dict>
			<key>icon/pnl_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,121},{114,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,117}</string>
			</dict>
			<key>icon/pnl_circle_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1051},{131,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,135}</string>
			</dict>
			<key>icon/ico_killed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,426},{182,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,157}</string>
			</dict>
			<key>icon/ico_vault.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1316},{128,109}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>icon/ico_tet.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1543},{110,83}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/ico_library.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1260},{77,82}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>icon/ico_seasonevent.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,394},{132,170}}</string>
				<key>offset</key>
				<string>{4,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_commuity.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1566},{85,73}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>icon/ico_egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1536},{75,68}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>icon/ico_relic.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1540},{97,96}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/ico_relic_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1341},{46,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>icon/ico_illusion.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{212,246}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/Forge_equipment.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,401},{164,186}}</string>
				<key>offset</key>
				<string>{1,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/summon_hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,209},{164,188}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/Upgrade_hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,191},{181,178}}</string>
				<key>offset</key>
				<string>{9,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/shop_bloodstone.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1081},{73,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>icon/ico_shop_bless.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,591},{169,167}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/ico_shop_circle_chose.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2},{185,185}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/ico_shop_promotion.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,545},{177,173}}</string>
				<key>offset</key>
				<string>{8,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/ico_shop_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,722},{161,167}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/ico_shop_best_offer.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,587},{161,166}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/Language/en_focus.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1768},{312,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,60}</string>
			</dict>
			<key>icon/Language/en_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1726},{156,38}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,60}</string>
			</dict>
			<key>icon/Language/vi_focus.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1817},{312,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,60}</string>
			</dict>
			<key>icon/Language/vi_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1830},{209,44}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>icon.png</string>
			<key>realTextureFileName</key>
			<string>icon.png</string>
			<key>size</key>
			<string>{1024,1877}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1877</integer>
		</dict>
	</dict>
</plist>