<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon/Music.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1654},{56,57}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>
			<key>icon/arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,581},{145,145}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,147}</string>
			</dict>
			<key>icon/arena_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1802},{63,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,55}</string>
			</dict>
			<key>icon/bless.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1597},{49,53}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,64}</string>
			</dict>
			<key>icon/Chaos_Castle.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,121},{122,175}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,178}</string>
			</dict>
			<key>icon/Chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1610},{88,69}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,71}</string>
			</dict>
			<key>icon/Coloured_Bless.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,474},{109,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,139}</string>
			</dict>
			<key>icon/energry.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1101},{30,37}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,46}</string>
			</dict>
			<key>icon/Hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1188},{127,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,132}</string>
			</dict>
			<key>icon/Home.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1281},{119,120}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,124}</string>
			</dict>
			<key>icon/Menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1621},{82,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,70}</string>
			</dict>
			<key>icon/Shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1177},{106,97}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,111}</string>
			</dict>
			<key>icon/Summon_wheel.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,919},{141,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,141}</string>
			</dict>
			<key>icon/Items.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1426},{109,105}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>icon/Round_Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,867},{72,72}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>icon/Star.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1594},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>icon/Disable_Star.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1630},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>icon/Monster_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1457},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>icon/Time_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1486},{42,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,57}</string>
			</dict>
			<key>icon/Sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1594},{60,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>
			<key>icon/Lv_up_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1574},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>icon/Check.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1154},{68,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,65}</string>
			</dict>
			<key>icon/Noticification.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1222},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>icon/Crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,1704},{64,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,45}</string>
			</dict>
			<key>icon/ico_rank_bronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,706},{71,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,80}</string>
			</dict>
			<key>icon/ico_rank_crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,1722},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,40}</string>
			</dict>
			<key>icon/ico_rank_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1125},{64,64}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>icon/ico_rank_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,1296},{98,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>icon/ico_rank_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1400},{98,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,84}</string>
			</dict>
			<key>icon/Music_Mute.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1622},{56,57}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>
			<key>icon/Sound_Mute.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1596},{60,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>
			<key>icon/Chaos_Goblin.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,1537},{78,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,75}</string>
			</dict>
			<key>icon/Setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1012},{70,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,73}</string>
			</dict>
			<key>icon/ico_dice.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,1620},{49,48}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>icon/ico_exp.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1657},{59,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,25}</string>
			</dict>
			<key>icon/ico_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1764},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,54}</string>
			</dict>
			<key>icon/ico_battle.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1142},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,34}</string>
			</dict>
			<key>icon/ico_blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,267},{100,168}}</string>
				<key>offset</key>
				<string>{2,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_book.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1064},{144,120}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,175}</string>
			</dict>
			<key>icon/ico_chaos.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,300},{121,170}}</string>
				<key>offset</key>
				<string>{2,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_dailyevent.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,853},{172,153}}</string>
				<key>offset</key>
				<string>{-2,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_giftstone.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,617},{127,153}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,175}</string>
			</dict>
			<key>icon/ico_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,918},{145,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,167}</string>
			</dict>
			<key>icon/ico_kalima.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,520},{185,168}}</string>
				<key>offset</key>
				<string>{4,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,587},{156,181}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,184}</string>
			</dict>
			<key>icon/hero/ico_archer.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,400},{18,19}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1666},{32,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_earth.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1702},{32,32}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_support.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,376},{20,20}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_fighter.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,627},{16,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1543},{33,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_gladiator.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,607},{17,16}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1758},{32,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_lord.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,469},{21,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_magic.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,423},{17,19}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_assassin.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,587},{19,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_tank.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,446},{17,19}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,648},{16,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/hero/ico_water.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1579},{32,33}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>icon/Water_Element.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,627},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>icon/Fire_Element.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,730},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>icon/Earth_Element.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,773},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>icon/ico_sendFP.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1261},{35,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,32}</string>
			</dict>
			<key>icon/ico_ad.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,1634},{85,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,65}</string>
			</dict>
			<key>icon/ico_hard.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1177},{66,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_hell.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1193},{64,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_easy.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1243},{66,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,154},{95,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,109}</string>
			</dict>
			<key>icon/ico_easy_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1373},{66,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_hard_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1693},{65,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/ico_hell_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,1687},{66,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>icon/giftbox_red_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,913},{128,126}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/giftbox_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,439},{122,130}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/letter_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1526},{112,92}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/ico_arenacoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,310},{25,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>icon/ico_shield.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,346},{22,26}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>icon/ico_defenseteam.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,1672},{49,46}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>icon/ico_winstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1829},{32,27}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>icon/ico_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1654},{65,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,48}</string>
			</dict>
			<key>icon/rank/ico_hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,1357},{86,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_king.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,1169},{129,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_legend.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1022},{138,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_master.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,1278},{126,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_novice.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1439},{85,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/rank/ico_titan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1156},{138,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>icon/ico_bigattack.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1739},{49,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,38}</string>
			</dict>
			<key>icon/ico_defense.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1061},{31,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>icon/Blood_Castle.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,2},{89,148}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,149}</string>
			</dict>
			<key>icon/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1622},{47,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,45}</string>
			</dict>
			<key>icon/Cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,487},{198,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,136}</string>
			</dict>
			<key>icon/heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1671},{46,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>icon/ico_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1794},{32,31}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>icon/ico_boss_lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1848},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,82}</string>
			</dict>
			<key>icon/ico_boss_lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1414},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,82}</string>
			</dict>
			<key>icon/ico_boss_lv3.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1744},{64,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,82}</string>
			</dict>
			<key>icon/ico_boss_lv4.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1083},{68,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,82}</string>
			</dict>
			<key>icon/ico_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1780},{61,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,49}</string>
			</dict>
			<key>icon/ico_cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1801},{33,28}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>icon/ico_cup_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1716},{46,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,38}</string>
			</dict>
			<key>icon/ico_howto_craft.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1341},{90,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,106}</string>
			</dict>
			<key>icon/ico_howto_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1321},{111,110}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,115}</string>
			</dict>
			<key>icon/ico_howto_map.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1241},{104,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,96}</string>
			</dict>
			<key>icon/ico_howto_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1223},{85,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,95}</string>
			</dict>
			<key>icon/Letter.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,1384},{120,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/Map.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,937},{153,120}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,139}</string>
			</dict>
			<key>icon/Summon.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1123},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>icon/Upgrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1306},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>icon/Light_Element.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,876},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>icon/ico_readmail.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1309},{71,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,60}</string>
			</dict>
			<key>icon/ico_myleauge.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1793},{54,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,55}</string>
			</dict>
			<key>icon/ico_event1.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1535},{79,81}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>icon/ico_premium.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1616},{123,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,39}</string>
			</dict>
			<key>icon/ico_standard.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,1486},{135,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,52}</string>
			</dict>
			<key>icon/ico_accessory.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1737},{49,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_armor.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1680},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1683},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_other.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1069},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_fairy.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,236},{198,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,170}</string>
			</dict>
			<key>icon/ico_rabbit.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1257},{77,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,102}</string>
			</dict>
			<key>icon/ico_items.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1537},{49,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/ico_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,1792},{41,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,37}</string>
			</dict>
			<key>icon/pnl_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1620},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>icon/ico_goldendragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,355},{195,161}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_moonrabbit.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,2},{174,201}}</string>
				<key>offset</key>
				<string>{10,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_whitewizard.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,2},{199,169}}</string>
				<key>offset</key>
				<string>{-6,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/lucky_wheel.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,627},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>icon/ico_letter.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1543},{71,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,49}</string>
			</dict>
			<key>icon/btn_sendFP_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1180},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>icon/ico_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1596},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>icon/logo creants_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,2},{320,115}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,121}</string>
			</dict>
			<key>icon/ico_dmg.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1642},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>icon/icon_halloween.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1542},{84,75}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,76}</string>
			</dict>
			<key>icon/ico_bosskill.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1683},{67,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,60}</string>
			</dict>
			<key>icon/ico_createguild.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1657},{57,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,53}</string>
			</dict>
			<key>icon/ico_search.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,1744},{42,44}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>
			<key>icon/tab_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1467},{110,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>icon/tab_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1522},{108,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>icon/guild_leader.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1689},{36,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>icon/guild_member.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1535},{27,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>icon/ico_member.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1359},{48,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>icon/ico_world.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1656},{60,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,51}</string>
			</dict>
			<key>icon/ico_donate.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,943},{73,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,65}</string>
			</dict>
			<key>icon/guild_truonglao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1833},{30,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>icon/guild_viceleader.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1684},{34,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>icon/ico_worldchat.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,1536},{98,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,74}</string>
			</dict>
			<key>icon/ico_puzzle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1743},{56,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>icon/Battle_elementchart.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1085},{150,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,99}</string>
			</dict>
			<key>icon/giftbox_red_open_old.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1043},{129,122}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/ico_xmas.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1451},{90,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,82}</string>
			</dict>
			<key>icon/ico_guildshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1745},{67,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,53}</string>
			</dict>
			<key>icon/ico_checkin.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1683},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>icon/ico_boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1297},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>icon/ico_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1715},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>
			<key>icon/chest_dong_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1477},{95,76}}</string>
				<key>offset</key>
				<string>{-9,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,123}</string>
			</dict>
			<key>icon/chest_mo_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1179},{113,113}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,123}</string>
			</dict>
			<key>icon/chestgai_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1278},{104,95}}</string>
				<key>offset</key>
				<string>{-7,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,123}</string>
			</dict>
			<key>icon/chestgai_mo.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1061},{119,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,123}</string>
			</dict>
			<key>icon/pnl_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1405},{114,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,117}</string>
			</dict>
			<key>icon/pnl_circle_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,774},{131,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,135}</string>
			</dict>
			<key>icon/ico_killed.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,692},{182,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,157}</string>
			</dict>
			<key>icon/ico_vault.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,1010},{128,109}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>icon/ico_tet.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1435},{110,83}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/ico_library.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1529},{77,82}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>icon/ico_seasonevent.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,573},{132,170}}</string>
				<key>offset</key>
				<string>{4,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/ico_commuity.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,1557},{85,73}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>icon/ico_egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1615},{75,68}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>icon/ico_relic.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1377},{97,96}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>icon/ico_relic_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1547},{46,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>icon/ico_illusion.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{212,230}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,266}</string>
			</dict>
			<key>icon/Forge_equipment.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,399},{164,184}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/summon_hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,207},{164,188}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/Upgrade_hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,175},{180,176}}</string>
				<key>offset</key>
				<string>{9,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/shop_bloodstone.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,788},{73,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>icon/ico_shop_bless.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,410},{169,167}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/ico_shop_circle_chose.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,121},{185,185}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/ico_shop_promotion.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,310},{169,173}}</string>
				<key>offset</key>
				<string>{4,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/ico_shop_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,747},{161,167}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/ico_shop_best_offer.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,772},{161,161}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>icon/Language/en_focus.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1753},{312,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,60}</string>
			</dict>
			<key>icon/Language/en_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1711},{156,38}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,60}</string>
			</dict>
			<key>icon/Language/vi_focus.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1815},{312,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,60}</string>
			</dict>
			<key>icon/Language/vi_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1807},{209,44}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,60}</string>
			</dict>
			<key>icon/star_awaken.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1703},{101,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,38}</string>
			</dict>
			<key>icon/star_purple_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1010},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>icon.png</string>
			<key>realTextureFileName</key>
			<string>icon.png</string>
			<key>size</key>
			<string>{1024,1908}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1908</integer>
		</dict>
	</dict>
</plist>