<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>patch9/tinypack.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,529},{102,88}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/smallpack.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,796},{124,98}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/mediumpack.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,883},{117,118}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/bigpack.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,787},{135,120}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/hugepack.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,897},{111,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/superpack.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,787},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/pnl_Bless.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,491},{210,301}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,305}</string>
			</dict>
			<key>patch9/Mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1034},{750,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,47}</string>
			</dict>
			<key>patch9/pnl_Daily.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{702,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{722,537}</string>
			</dict>
			<key>patch9/pnl_daily_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,873},{129,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,48}</string>
			</dict>
			<key>patch9/ico_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,703},{177,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,182}</string>
			</dict>
			<key>patch9/sep_header_pattern.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,925},{237,16}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,18}</string>
			</dict>
			<key>patch9/pnl_Craft_Item.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,2},{289,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,487}</string>
			</dict>
			<key>patch9/pnl_howtoget_trans.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,703},{214,190}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,197}</string>
			</dict>
			<key>patch9/pnl_questcount.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,898},{111,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,45}</string>
			</dict>
			<key>patch9/ribbon_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,529},{590,170}}</string>
				<key>offset</key>
				<string>{1,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,222}</string>
			</dict>
			<key>patch9/txt_en.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,703},{281,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,80}</string>
			</dict>
			<key>patch9/txt_vi.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,947},{323,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,83}</string>
			</dict>
			<key>patch9/txt_Sale100.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,588},{77,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,54}</string>
			</dict>
			<key>patch9/txt_Sale30.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,646},{77,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,54}</string>
			</dict>
			<key>patch9/txt_Sale50.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,704},{77,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,54}</string>
			</dict>
			<key>event_page/line_ngang.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,675},{76,5}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,11}</string>
			</dict>
			<key>patch9/pnl_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,762},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,45}</string>
			</dict>
			<key>patch9/pnl_gray_highlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,796},{125,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,75}</string>
			</dict>
			<key>patch9/pnl_circle_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,621},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>patch9/pnl_vip_card_small_resize.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,491},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>patch9_8.png</string>
			<key>realTextureFileName</key>
			<string>patch9_8.png</string>
			<key>size</key>
			<string>{1017,1083}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1083</integer>
		</dict>
	</dict>
</plist>