<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>patch9/pnl_orange_stoke.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{300,605}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,605}</string>
			</dict>
			<key>patch9/pnl_highlight_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{320,624}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,624}</string>
			</dict>
			<key>patch9/relic_arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,0},{284,605}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,605}</string>
			</dict>
			<key>patch9/hero_arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,0},{284,605}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,605}</string>
			</dict>
			<key>patch9/pnl_howtoget_trans2.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,605},{391,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,412}</string>
			</dict>
			<key>patch9/pnl_fighting_link.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,924},{431,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,46}</string>
			</dict>
			<key>patch9/pnl_ready_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,141},{114,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,111}</string>
			</dict>
			<key>patch9/pnl_itemtrans.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,0},{141,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,132}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>patch9_9.png</string>
			<key>realTextureFileName</key>
			<string>patch9_9.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>