<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>patch9/Dragon_Decoration.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,803},{511,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{511,79}</string>
			</dict>
			<key>patch9/Tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,544},{298,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,59}</string>
			</dict>
			<key>patch9/Dark_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,348},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Fire_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,499},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Light_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,240},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Skill_Text_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,652},{673,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{673,43}</string>
			</dict>
			<key>patch9/Small_Brown_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,583},{196,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,51}</string>
			</dict>
			<key>patch9/Unavailable.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,240},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Undo_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,357},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Water_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,500},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Earth_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,651},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Level_up_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{338,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,336}</string>
			</dict>
			<key>patch9/Item_Rank1.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,357},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Item_Rank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,392},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Item_Rank3.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,392},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Item_Rank4.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,635},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Item_Rank5.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,780},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/Dialouge_Line.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,703},{668,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{668,14}</string>
			</dict>
			<key>patch9/Item_Special.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,751},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,144}</string>
			</dict>
			<key>patch9/UI_Shop_moneyslot.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,725},{190,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,47}</string>
			</dict>
			<key>patch9/UI_Shop_talkbubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,193},{359,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,156}</string>
			</dict>
			<key>patch9/Arena_Info_panelrank.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,725},{180,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>patch9/guild_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,348},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>patch9/ico_guildflag.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,4},{266,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,228}</string>
			</dict>
			<key>patch9/pnl_slogan.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,509},{82,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,71}</string>
			</dict>
			<key>patch9/pnl_type.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,357},{54,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,43}</string>
			</dict>
			<key>patch9/seperation_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,725},{174,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,18}</string>
			</dict>
			<key>patch9/pnl_chat_msg.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,903},{148,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,105}</string>
			</dict>
			<key>patch9/pnl_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,4},{364,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,181}</string>
			</dict>
			<key>patch9/pnl_resource.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,588},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>patch9/arrow_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,348},{34,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,46}</string>
			</dict>
			<key>patch9/pnl_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,509},{278,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,66}</string>
			</dict>
			<key>event_page/seperation_pattern_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,611},{237,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,16}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>patch9_2.png</string>
			<key>realTextureFileName</key>
			<string>patch9_2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>