<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>patch9/Armor.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,324},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>patch9/Element.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,328},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>patch9/Ring.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,432},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>patch9/Shield.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,436},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>patch9/Weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,540},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>patch9/Necklace.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,544},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>patch9/Grid_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{730,698}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{730,698}</string>
			</dict>
			<key>patch9/UI_Edit_pnl_Popup.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,4},{216,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,179}</string>
			</dict>
			<key>patch9/Map_Tittle_Name.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,756},{192,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,52}</string>
			</dict>
			<key>patch9/pnl_lockedskillslot.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,923},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>patch9/Slot_leaderskill.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,191},{131,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,129}</string>
			</dict>
			<key>patch9/Slot_normalskill.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,755},{466,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,129}</string>
			</dict>
			<key>patch9/pnl_leaderskillslot.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,755},{90,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,89}</string>
			</dict>
			<key>patch9/pnl_leaderskillslot_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,881},{90,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,89}</string>
			</dict>
			<key>patch9/pnl_skillslot.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,923},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>
			<key>patch9/pnl_skillslot_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,923},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>
			<key>patch9/pnl_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,652},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>patch9/pnl_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,191},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>patch9/pnl_selectedlang.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,710},{120,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>patch9/Monster_Panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,648},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>patch9/pnl_name_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,798},{183,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,75}</string>
			</dict>
			<key>patch9/pnl_maskname.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,710},{85,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,25}</string>
			</dict>
			<key>patch9/pnl_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,852},{309,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,63}</string>
			</dict>
			<key>patch9/ico_seperatedline_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,710},{450,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,18}</string>
			</dict>
			<key>patch9/snowfall.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,978},{724,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>patch9_1.png</string>
			<key>realTextureFileName</key>
			<string>patch9_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>