<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>png/skill/BurningShot.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,114},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/DarkLightningStorm.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,224},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/DragonRoar.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,224},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/EnForceWave.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,224},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/FlameDragonSpirit.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,225},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/MagicStrengthener.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,114},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/TwoHandMastery.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,225},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/StormCrowAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,114},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/FirePenetrationArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,114},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/DarkDragonPower.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,225},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/DarknessSlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,225},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/DarkSlash.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,333},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/EarthGuardianSpirit.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,335},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/EndlessCure.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,335},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/FatalShots.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,333},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/GoddessSpirit.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,333},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/GuardianPower.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,333},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/HolyShield.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,441},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/HolyTouch.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,443},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/HonorableCharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,443},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/LightGuardianSpirit.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,549},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/LightPenetrationArrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,551},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/MagicEnhancement.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,551},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/MagicLightArrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,657},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/MagicRegeneration.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,659},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/MightyThunderShield.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,659},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/NaturalShield.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,765},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/NovaStrike.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,767},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/PowerOfEarth.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,767},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/RoyalBrath.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,873},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/SwiftlyCharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>png/skill/UncontrollableDarkness.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,875},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/UnleashedFury.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,875},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/WaterMagicPower.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,441},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/LightPenetrationArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,441},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/DarknessMagic.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,441},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>png/skill/DeathlyCyclone.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,441},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>png/skill/DeathlyHollows.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,549},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>png/skill/DeathlyHunter.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,657},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>png/skill/DeathlyRain.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,765},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>png/skill/DeathlyScythe.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,873},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>png/skill/FearOfDarkness.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,549},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>png/skill/HexOfDarkness.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,549},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>png/skill/ElsaBlizzardCursed.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,549},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/ElsaBlizzardRain.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,212},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/ElsaChill.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,322},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/ElsaIceJail.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,432},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/OwenBlizzardShield.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,657},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/OwenCuraga.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,542},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/OwenGreatFrostAxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,652},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/OwenIceMirror.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,762},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/ArthurAtlantisCourage.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,765},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/ArthurCursed.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,872},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/ArthurKrakenSkin.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,212},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/ArthurOceanWrath.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,4},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/GarenArmorBreaker.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,322},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/GarenClashOfLion.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,432},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/GarenLightProtector.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,873},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/GarenPhysicNullified.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,542},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/JulliusBreathOfFire.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,657},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/JulliusChainOfFlames.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,652},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/JulliusSoulOfSun.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,762},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/JulliusSunCursed.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,872},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/LegolasInvisibleCloak.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,4},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/LegolasMagicArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,657},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/LegolasManaBreak.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,4},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/LegolasSilentArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,4},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/LunarBloodMoon.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,4},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/LunarDarkMoon.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,765},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/LunarMoonHex.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,4},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/LunarWrathOfTheMoon.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,4},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/RachelGuardianOfLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,873},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/RachelLightBlessing.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,114},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/RachelLuckyAngel.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,114},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>png/skill/RachelPhoenixDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,114},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill_icon2.png</string>
			<key>realTextureFileName</key>
			<string>skill_icon2.png</string>
			<key>size</key>
			<string>{972,979}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>972</integer>
			<key>height</key>
			<integer>979</integer>
		</dict>
	</dict>
</plist>