<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>png/skill/s0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/AngelFlames.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,115},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/BeastUpper.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,226},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/ClingBow.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,337},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/Cure.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,448},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/CuttingSlash.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,448},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/CycloneSlash.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,448},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/DarkFeeder.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,559},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/DeathStab.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,670},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/EarthResistance.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,781},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/EnduranceAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,556},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/FallingSlash.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,556},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/FireBlast.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,892},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/ForceWave.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,4},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/Frozen.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,4},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/GreaterDamage.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,559},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/GuardianPray.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,667},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/Heal.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,664},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/IceArmor.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,4},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/IceSpike.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,559},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>
			<key>png/skill/InceaseBlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,4},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/IncreaseStrength.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,4},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/Iron Defense.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,4},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/LightGuardianAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,775},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/LightHealing.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,4},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/ManaShield.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,4},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/Meteorite.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,115},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/Multishot.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,226},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/Nova.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,337},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/PenetrationArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,448},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/PowerAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,559},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/RagefulBlow.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,670},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/ShieldMastery.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,781},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/StripleShot.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,892},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/SwellLife.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,115},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/Tidehunter.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,115},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/TideWrath.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,115},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/TwistingSlash.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,115},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/WaterPillar.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,115},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/BlizzardMagicAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,115},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/CriticalStrike.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,115},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/DarkAssassinAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,226},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/DarkSlashes.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,337},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/DivineFairyAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,664},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/EarthFighterAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,448},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/ElfSpirit.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,559},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/ExceedBreak.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,670},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/ExpansionofWizardry.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,781},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/FirePowerAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,892},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/FireSlash.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,226},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/FlurryArrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,226},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/FocusAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,757},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>png/skill/GravityShot.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,226},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/HailofArrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,226},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/InfinityArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,226},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/mag_leader.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,658},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>
			<key>png/skill/MagicGladiatorAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,226},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/PowerPunch.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,337},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/RoyalProtectionAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,448},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/ShieldOfLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,856},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/TripleShot.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,559},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/Berserker.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,670},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/BlackRose.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,781},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/BlueMagicPower.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,892},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/DarkPower.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,337},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/DarkSouls.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,337},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/EvilSpirit.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,337},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/ForcusAura.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,337},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/GreatShield.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,883},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/HarshStrike.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,772},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/HellFire.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,337},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/IceStorm.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,448},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/LightningShock.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,559},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/LunaBlessing.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,670},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/RoyalFire.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,880},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/RoyalSpirit.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,772},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/RoyalWrath.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,880},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>png/skill/s7040.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,781},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/SpeedUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,892},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/StrengthenEvil.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,448},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>png/skill/Weakness.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,448},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill_icon.png</string>
			<key>realTextureFileName</key>
			<string>skill_icon.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>