<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>text/num_crit/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,4},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,65},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,126},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,187},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,189},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,263},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,297},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,297},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,324},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,364},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,179},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>
			<key>text/num_crit/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,181},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,238},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,238},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,250},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,307},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,358},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,358},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,385},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,425},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,181},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,181},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,181},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,225},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,248},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,242},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,299},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,311},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,368},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,299},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,419},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,446},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,486},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,419},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,242},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,242},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,242},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,286},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,309},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,356},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,303},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,360},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,372},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,360},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,415},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,429},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,480},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,507},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,547},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,480},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,303},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,303},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,303},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,347},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,370},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,417},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,364},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,421},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,421},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,433},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,476},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/text_block.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,120},{189,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,51}</string>
			</dict>
			<key>text/text_critical.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,4},{234,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,51}</string>
			</dict>
			<key>text/text_guard.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,61},{205,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,51}</string>
			</dict>
			<key>text/text_dead.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{142,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,116}</string>
			</dict>
			<key>text/txt_losed.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,425},{90,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,28}</string>
			</dict>
			<key>text/txt_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,461},{60,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,28}</string>
			</dict>
			<key>text/levelup_number/lvup_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,63},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,117},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,171},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,307},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,248},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,302},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,361},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,461},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,469},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,492},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/txt_Lvup.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,4},{298,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,49}</string>
			</dict>
			<key>text/txt_Unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,4},{245,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,49}</string>
			</dict>
			<key>text/num_plusattr/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,490},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,541},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,568},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,608},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,541},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,364},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,364},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,364},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,408},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,431},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,478},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/atk.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,61},{116,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,51}</string>
			</dict>
			<key>text/num_plusattr/def.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,187},{112,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,51}</string>
			</dict>
			<key>text/num_plusattr/hpt.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,305},{84,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,51}</string>
			</dict>
			<key>text/num_plusattr/mag.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,189},{93,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>text/num_plusattr/res.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,122},{106,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,51}</string>
			</dict>
			<key>text/num_plusattr/spd.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,179},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>text/num_minusattr/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,425},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,482},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,482},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,494},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,537},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,551},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,602},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,629},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,669},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,602},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,425},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/atk.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,128},{116,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,51}</string>
			</dict>
			<key>text/num_minusattr/def.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,246},{112,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,51}</string>
			</dict>
			<key>text/num_minusattr/hpt.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,248},{84,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,51}</string>
			</dict>
			<key>text/num_minusattr/mag.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,238},{93,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>text/num_minusattr/res.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,179},{106,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,51}</string>
			</dict>
			<key>text/num_minusattr/spd.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,122},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>text/num_minusattr/tur.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,120},{147,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,51}</string>
			</dict>
			<key>text/num_minusattr/shd.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,61},{199,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,51}</string>
			</dict>
			<key>text/num_plusattr/shd.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,63},{199,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,51}</string>
			</dict>
			<key>text/txt_unavailable.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,120},{148,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>text2.png</string>
			<key>realTextureFileName</key>
			<string>text2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>