<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>text/num_crit/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,424},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,513},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,633},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,574},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,572},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,633},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,635},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,694},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,716},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,755},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,549},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>
			<key>text/num_crit/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,777},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_crit/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,696},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,710},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,745},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,757},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,754},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,772},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,816},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,838},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,772},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,806},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,833},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,877},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_dam/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,899},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,833},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,735},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,735},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,771},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,818},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,867},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,894},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,938},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,960},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,894},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,763},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_hpheal/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,763},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,796},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,832},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,879},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,928},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,955},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,999},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1021},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,955},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,796},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,760},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,815},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_mpheal/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,760},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,760},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,824},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,824},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,857},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,893},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,940},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,989},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,857},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1016},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,1060},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1082},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_poison/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1016},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/text_block.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,405},{189,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,51}</string>
			</dict>
			<key>text/text_critical.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,382},{234,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,51}</string>
			</dict>
			<key>text/text_guard.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,454},{205,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,51}</string>
			</dict>
			<key>text/text_dead.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,262},{142,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,116}</string>
			</dict>
			<key>text/txt_losed.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,882},{90,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,28}</string>
			</dict>
			<key>text/txt_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,882},{60,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,28}</string>
			</dict>
			<key>text/levelup_number/lvup_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,262},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,316},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,370},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,386},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,440},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,325},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,379},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,433},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,464},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/levelup_number/lvup_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,518},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>text/txt_Lvup.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,268},{298,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,49}</string>
			</dict>
			<key>text/txt_Unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,325},{245,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,49}</string>
			</dict>
			<key>text/num_plusattr/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,821},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,876},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,885},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,885},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,918},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,954},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1001},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1050},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,918},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1077},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,1121},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_plusattr/atk.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,533},{116,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,51}</string>
			</dict>
			<key>text/num_plusattr/def.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,661},{112,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,51}</string>
			</dict>
			<key>text/num_plusattr/hpt.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,595},{84,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,51}</string>
			</dict>
			<key>text/num_plusattr/mag.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,695},{93,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>text/num_plusattr/res.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,686},{106,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,51}</string>
			</dict>
			<key>text/num_plusattr/spd.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,602},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>text/num_minusattr/sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1143},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1077},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,821},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,821},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,882},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,937},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,946},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,946},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,979},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1015},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1062},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>text/num_minusattr/atk.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,592},{116,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,51}</string>
			</dict>
			<key>text/num_minusattr/def.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,701},{112,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,51}</string>
			</dict>
			<key>text/num_minusattr/hpt.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,657},{84,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,51}</string>
			</dict>
			<key>text/num_minusattr/mag.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,651},{93,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>text/num_minusattr/res.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,713},{106,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,51}</string>
			</dict>
			<key>text/num_minusattr/spd.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,654},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>text/num_minusattr/tur.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,513},{147,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,51}</string>
			</dict>
			<key>text/num_minusattr/shd.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,336},{199,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,51}</string>
			</dict>
			<key>text/num_plusattr/shd.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,395},{199,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,51}</string>
			</dict>
			<key>text/txt_unavailable.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,464},{148,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,61}</string>
			</dict>
			<key>text/Battle.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,268},{180,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,60}</string>
			</dict>
			<key>text/Level_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,720},{113,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,35}</string>
			</dict>
			<key>text/New_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,694},{85,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,33}</string>
			</dict>
			<key>text/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,572},{136,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,49}</string>
			</dict>
			<key>text/text_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,629},{116,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,49}</string>
			</dict>
			<key>text/VS_Text.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,262},{185,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,135}</string>
			</dict>
			<key>text/large_number/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,371},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,386},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,479},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,485},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,494},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,587},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,593},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,441},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,441},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,487},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/large_number/splash.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,549},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>text/text_sold.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,262},{121,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,101}</string>
			</dict>
			<key>text/ico_Lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{500,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,256}</string>
			</dict>
			<key>text/ico_Win.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,4},{486,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{486,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>text.png</string>
			<key>realTextureFileName</key>
			<string>text.png</string>
			<key>size</key>
			<string>{1024,1200}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1200</integer>
		</dict>
	</dict>
</plist>